.Navigation-Main {
    height: 60vh;
    width: 6vw;
    float: right;
    border-radius: 20px;
    border: 1px solid #04b4e0;
    box-shadow: 5px 5px 10px gray;
    margin-top: -70vh;
margin-right: -8vw;
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: flex-end;  /* Align items to the right */
    padding-top: 10px;      /* Optional: Add padding at the top */
}

.NM-Icon {
    display: flex;
    flex-direction: column; /* Arrange icons vertically */
    gap: 3vh;      
    align-items: center;
    justify-content: center;        /* Adjust the gap between the icons */
    width: 6vw;     /* Add margin to the right for better alignment */
}

.NM-Icon-home {
    font-size: 2.5vw;
    color: #5f5f5f;
    cursor: pointer;
    margin-top: 0.6vh;
}

.NM-Icon-home:hover {
    color: #04b4e0;
}
